body {
  margin: 0px;
  overflow: hidden;
  background-color: rgba(82, 224, 247, 0.5);
}

.wave_top, .grad_wave, .wave {
  position: absolute;
  width: 100%;
}

.button {
  position: absolute;
}

.top_wave_container, .bottom_wave_container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.bottom_wave_container {
  transform: rotate(180deg);
}

.top_wave_container svg, .bottom_wave_container svg {
  position: absolute;
  transform: scaleY(0.4);
  transform-origin: right top;
}

.brainchild {
  position: absolute;
  width: 100%;
  height: 100%;
}

.brainchild .logo_container {
  width: 30%;
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Cloud_Child, #Stars, #Circles {
  animation: 1s fade linear;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#Cloud, #Circle_Group {
  animation: float 2s infinite linear;
}

@keyframes float {
  0%, 100% {
    fill-opacity: 0.7;
    transform: translateY(5px);
  }
  50% {
    fill-opacity: 1;
    transform: translateY(0);
  }
}

#Star_1, #Star_2, #Star_3 {
  animation: scale 2s infinite linear;
  transform-origin: center center;
}

#Star_2 {
  animation-delay: 0.2s;
}

#Star_3 {
  animation-delay: 0.5s;
}

@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
}
